.main{
    overflow-y: hidden;
}
.main .content-main{
    background-size: 200% 100% !important;
    animation: move 12s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(152deg,  rgba(27,98,203,1) 10%, rgb(48, 156, 206) 90%);
    width: 100%;
    height: 1000px;
    max-height: 760px;
}
.main .content-main-itens{
    padding: 70px 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}
.carroiconvetor{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 100px;
  
}
.carroiconvetor img{
    width: 700px;
}

.main .content-main-itens h1{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    height: 210px;
    padding: 0 110px;
}
.main .content-main-itens p{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    width: 68%;
    height: 112px;
    padding: 0 110px;
}

.main .content-main-itens a{
    background: #fff;
    padding: 14px 22px;
    border-radius: 290486px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 62, 65);
    font-weight: 600;
    margin-left: 105px;
}

.main .itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin: 0 113px;
}
.main h2{
    color: #ffff;
}
.main #header-main nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.main #header-main  nav li{
    margin: 0 30px;
}

.main #header-main  nav li{
    text-decoration: none;
    color: #ffff;
    
}
.main nav  #button-login{
    border: solid 1px #ffff;
    padding: 10px 22px;
}
.main .main-section{
    margin: 80px 0;
}
.main .section-vetor{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px;
}
.main .section-vetor img{
    width: 600px;
    height: auto;
}
.main .section-vetor .texto-vetor{
    padding: 0 94px;
}
.main .section-vetor h2{
  color: #363636;
  font-size: 38px;
}
.main .section-vetor h3{
    color: #363636;
    padding-top: 22px;
}
.main .section-vetor p{
    color: #797979;
    padding: 22px 0;
    
}
.main .section-vetor .texto-vetor a{
    border: 1px solid rgb(196, 196, 196);
    padding: 14px 22px;
    border-radius: 290486px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #363636;
}
.main .section-vetor .texto-vetor .buttonV{
    padding-top: 15px;
}
.main .container{
    background-size: 200% 100% !important;
    animation: move 10s ease-in-out infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(125deg,  rgba(27,98,203,1) 10%, rgb(48, 156, 206) 90%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
.main .container .text-container{
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    width: 400px;
}
.main .container .text-container h1{
   font-size: 35px;
}
.main .container .text-container p{
    padding-top: 20px;
    line-height: 25px;
 }

.main .container .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 0 40px;
}
.main .container .cards .card{
    background-color: rgb(255, 255, 255);
    width: 256px;
    height: 380px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .container .cards .card img{
    width: 98px;
    height: auto;
    margin-top: 50px;
}
.main .container .cards .card .textCard{
    text-align: center;
    padding-top: 64px;
    margin: 0 20px;
    color: #4A4A4A;
}
.main .container .cards .card .textCard p{
    margin: 10px 0;
}
.main footer{
    height: 459px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.main footer #direitos{
    text-align: center;
    font-size: 16px;
    color: #A1A1A1;
}

.main footer .text-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 190px;
  align-items: center;
}
.main footer .text-footer .text-colum{
    display: flex;
    flex-direction: column;
  }
  .main footer ul{
    display: flex;
    flex-direction: row;
   
  }
  .main footer .text-footer .logoEngine img{
    width: 280px;
    height: auto;
    padding-top: 80px;
  }
  .main footer ul{
    display: flex;
    flex-direction: row;
   
  }
  .main footer ul li{
    color: #A1A1A1;
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-right: 8px;
   
  }
  .main footer   ul li .icon{
    margin-right: 8px;
  }
  .main footer .text-footer .text-colum h2{
    color: #373737;
    font-size: 31px;
  }
  .main footer .text-footer .text-colum p{
    text-align: left;
    padding-top: 20px;
    color: #A1A1A1;
    width: 340px;
  }

@media (max-width: 330px) {
    .carroiconvetor{
        display: none;
      
    }
    .carroiconvetor img{
        display: none;
    }
    .main{
        overflow-y: hidden;
    }
    .main .content-main header{
        display: none;
    }
    .main .content-main{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .content-main-itens{
        padding: 70px 0;
        width: 90%;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }
    .main .content-main-itens h1{
        font-size: 30px;
        height: 0;
        padding: 0 0px;
        width: 100%;
    }
    .main .content-main-itens p{
        font-size: 12px;
        line-height: 1.25;
        width: 100%;
        margin-top: 180px;
        height: 95px;
        padding: 0 0px;
    }
    
    .main .content-main-itens a{
        padding: 12px 12px;
        margin-left: 0;
    }
    .main .section-vetor{
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }
    .main .section-vetor h2{
        font-size: 29px;
    }
    .main .section-vetor img{
        width: 280px;
        height: auto;
    }
    .main .section-vetor .texto-vetor{
        padding: 45px 0px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .main .container{
        background-color: #2570CB;
        background-size: cover;
        height: 1600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: inherit;
        
    }
    .main .container .text-container{
        color: #ffff;
        display: flex;
        flex-direction: column;
        padding: 80px 200px;
        width: 100%;
    }
    .main .container .text-container h1{
       font-size: 35px;
       padding: 0 20px;
    }
    .main .container .text-container p{
        line-height: 25px;
        padding: 20px 20px;
     }
    
    .main .container .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 0 40px;
    }
    .main .container .cards .card{
        background-color: rgb(255, 255, 255);
        width: 256px;
        height: 350px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .container .cards .card img{
        width: 98px;
        height: auto;
        margin-top: 50px;
    }
    .main .container .cards .card .textCard{
        text-align: center;
        padding-top: 64px;
        margin: 0 20px;
        color: #4A4A4A;
    }
    .main .container .cards .card .textCard p{
        margin: 10px 0;
    }
    .main footer{
        height: 459px;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
    }
    .main footer #direitos{
        text-align: center;
        font-size: 16px;
        color: #A1A1A1;
    }
    
    .main footer .text-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 100px 0;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .main footer .text-footer .text-colum{
        display: flex;
        flex-direction: column;

      }
      
      .main footer ul{
        display: flex;
        flex-direction: row;
       
      }
      .main footer .text-footer .logoEngine img{
       display: none;
      }
      .main footer ul{
        display: flex;
        flex-direction: row;
       
      }
      .main footer ul li{
        color: #A1A1A1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        margin-right: 8px;
       
      }
      .main footer   ul li .icon{
        margin-right: 8px;
      }
      .main footer .text-footer .text-colum h2{
        color: #373737;
        font-size: 31px;
      }
      .main footer .text-footer .text-colum p{
        text-align: justify;
        padding: 20px 20px;
        color: #A1A1A1;
        font-size: 18px;
        width: 300px;
      }
}
@media (min-width:330px) and (max-width: 768.98px) {
    .main .content-main-itens{
        padding: 70px 0;
        width: 90%;
        text-align: justify;
    }
    .carroiconvetor{
        display: none;
      
    }
    .carroiconvetor img{
        display: none;
    }
    .main{
        overflow-y: hidden;
    }
.main .content-main header{
    display: none;
}
.main .content-main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.main .content-main-itens{
    padding: 55px 0;
}

.main .content-main-itens h1{
    font-size: 26px;
    height: 0;
    padding: 0 0px;
    width: 100%;
    text-align: left;
}
.main .content-main-itens p{
    font-size: 18px;
    width: 100%;
    margin-top: 130px;
    height: 140px;
    padding: 0 0px;
}

.main .content-main-itens a{
    margin-left: 0;
}
.main .section-vetor h2{
    font-size: 25px;
}
.main .section-vetor{
    display: flex;
    flex-direction: column;
    margin: 0 30px;

}
.main .section-vetor img{
    width: 300px;
    height: auto;
}
.main .section-vetor .texto-vetor{
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.main .container{
    background-color: #2570CB;
    background-size: cover;
    height: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: inherit;
    overflow-y: hidden;
    
}
.main .container .text-container{
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 80px 200px;
    width: 100%;
    overflow-y: hidden;
}
.main .container .text-container h1{
   font-size: 35px;
   padding: 0 20px;

}
.main .container .text-container p{
    line-height: 25px;
    padding: 20px 20px;
 }

.main .container .cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    padding: 0 40px;
    overflow-y: hidden;
 
}
.main .container .cards .card{
    background-color: rgb(255, 255, 255);
    width: 256px;
    height: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.main .container .cards .card img{
    width: 98px;
    height: auto;
    margin-top: 50px;
    overflow-y: hidden;
}
.main .container .cards .card .textCard{
    text-align: center;
    padding-top: 64px;
    margin: 0 20px;
    color: #4A4A4A;
    overflow-y: hidden;
}
.main .container .cards .card .textCard p{
    margin: 10px 0;
    overflow-y: hidden;
}
.main footer{
    height: 459px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.main footer #direitos{
    text-align: center;
    font-size: 16px;
    color: #A1A1A1;
}

.main footer .text-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main footer .text-footer .text-colum{
    display: flex;
    flex-direction: column;
  }
  .main footer ul{
    display: flex;
    flex-direction: row;
   
  }
  .main footer .text-footer .logoEngine img{
   display: none;
  }
  .main footer ul{
    display: flex;
    flex-direction: row;
   
  }
  .main footer ul li{
    color: #A1A1A1;
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-right: 8px;
   
  }
  .main footer   ul li .icon{
    margin-right: 8px;
  }
  .main footer .text-footer .text-colum h2{
    color: #373737;
    font-size: 31px;
  }
  .main footer .text-footer .text-colum p{
    text-align: left;
    padding-top: 20px;
    color: #A1A1A1;
    width: 340px;
  }
}
@media (min-width: 330px) and (max-width:768px) and (orientation: landscape) {
    .main .content-main-itens{
        padding: 70px 0;
        width: 70%;
        text-align: left;
    }
    .carroiconvetor{
        display: none;
      
    }
    .carroiconvetor img{
        display: none;
    }
    .main{
        overflow-y: hidden;
    }
    .main .content-main header{
        display: none;
    }
    .main .content-main{
        background: linear-gradient(152deg, rgba(95,194,204,1) 33%, rgba(27,98,203,1) 100%);
        width: 100%;
        height: 100%;
        max-height: 760px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .content-main-itens p{
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.25;
        width: 100%;
        margin-top: 220px;
        height: 140px;
        padding: 0 0px;
    }
    
    .main .content-main-itens a{
        background: #fff;
        padding: 14px 22px;
        border-radius: 290486px;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(60, 62, 65);
        font-weight: 600;
        margin-left: 0;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
    .main .content-main-itens{
        padding: 70px 0;
        width: 90%;
        text-align: left;
    }
    .carroiconvetor{
        display: none;
      
    }
    .carroiconvetor img{
        display: none;
    }
    .main{
        overflow-y: hidden;
    }
    .main .content-main header{
        display: initial;
    }
    .main .content-main{
        background: linear-gradient(152deg, rgba(95,194,204,1) 33%, rgba(27,98,203,1) 100%);
        width: 100%;
        height: 100vh;
        max-height: 760px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
    }
    .main .content-main-itens{
        padding: 90px 0;
    }
    
    .main .content-main-itens h1{
        color: #fff;
        font-size: 38px;
        font-weight: 600;
        height: 0;
        padding: 0 0px;
        width: 100%;
        text-align: left;
    }
    .main .content-main-itens p{
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.25;
        width: 100%;
        margin-top: 160px;
        height: 130px;
        padding: 0 0px;
    }
    
    .main .content-main-itens a{
        background: #fff;
        padding: 14px 22px;
        border-radius: 290486px;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(60, 62, 65);
        font-weight: 600;
        margin-left: 0;
    }
    .main .main-section{
        margin: 80px 0;
        overflow-y: hidden;
    }
    .main .section-vetor{
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }
    .main .section-vetor img{
        width: 100%;
        height: auto;
    }
    .main .section-vetor .texto-vetor{
        padding: 45px 60px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .main .container{
        background-color: #2570CB;
        background-size: cover;
        height: 1500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: inherit;
        overflow-y: hidden;
        
    }
    .main .container .text-container{
        color: #ffff;
        display: flex;
        flex-direction: column;
        padding: 80px 200px;
        width: 100%;
    }
    .main .container .text-container h1{
       font-size: 35px;
       padding: 0 80px;
    }
    .main .container .text-container p{
        line-height: 25px;
        padding: 20px 80px;
     }
    
    .main .container .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding: 0 40px;
        overflow-y: hidden;
    }
    .main .container .cards .card{
        background-color: rgb(255, 255, 255);
        width: 356px;
        height: 350px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .container .cards .card img{
        width: 98px;
        height: auto;
        margin-top: 50px;
    }
    .main .container .cards .card .textCard{
        text-align: center;
        padding-top: 64px;
        margin: 0 20px;
        color: #4A4A4A;
    }
    .main .container .cards .card .textCard p{
        margin: 10px 0;
    }
    .main footer{
        height: 459px;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
    }
    .main footer #direitos{
        text-align: center;
        font-size: 16px;
        color: #A1A1A1;
    }
    
    .main footer .text-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 100px 0;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .main footer .text-footer .text-colum{
        display: flex;
        flex-direction: column;
      }
      .main footer ul{
        display: flex;
        flex-direction: row;
       
      }
      .main footer .text-footer .logoEngine img{
       display: none;
      }
      .main footer ul{
        display: flex;
        flex-direction: row;
       
      }
      .main footer ul li{
        color: #A1A1A1;
        display: flex;
        align-items: center;
        padding: 20px 0;
        margin-right: 8px;
       
      }
      .main footer   ul li .icon{
        margin-right: 8px;
      }
      .main footer .text-footer .text-colum h2{
        color: #373737;
        font-size: 31px;
      }
      .main footer .text-footer .text-colum p{
        text-align: left;
        padding-top: 20px;
        color: #A1A1A1;
        width: 340px;
      }
}
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
    .main .content-main-itens{
        padding: 70px 0;
        width: 70%;
        text-align: left;
    }
    .carroiconvetor{
        display: none;
      
    }
    .carroiconvetor img{
        display: none;
    }
    .main{
        overflow-y: hidden;
    }
    .main .content-main header{
        display: initial;
    }
    .main .content-main{
        background: linear-gradient(152deg, rgba(95,194,204,1) 33%, rgba(27,98,203,1) 100%);
        width: 100%;
        height: 100%;
        max-height: 760px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
    }

}
@media (min-width: 991.98px) and (max-width: 1799px) {
    .main .content-main-itens h1{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        height: 210px;
        padding: 0 80px;
        width: 100%;
    }
    .main .content-main-itens p{
        color: #fff;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25;
        width: 75%;
        height: 112px;
        padding: 0 80px;
    }
    .carroiconvetor{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 200px;
      
    }
    .carroiconvetor img{
        width: 500px;
    }
    
.main .content-main-itens a{
    background: #fff;
    padding: 14px 22px;
    border-radius: 290486px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 62, 65);
    font-weight: 600;
    margin-left: 75px;
}
.main .itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin: 0 85px;
}
    
}
@media (min-width: 1800px) {
    .main .content-main-itens h1{
        padding: 0 281px;
    }
    .main .content-main-itens p{
        padding: 0 281px;
    }
    .main .content-main-itens a{
        margin-left: 272px;
    }
    .main .itens{
        margin: 0 281px;
    }
    .main .container{
        background-size: 200% 100% !important;
        animation: move 5s ease-in-out infinite;
        transform: translate3d(0, 0, 0);
        background: linear-gradient(125deg,  rgba(27,98,203,1) 10%, rgb(48, 156, 206) 90%);
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main .container .cards .card{
        background-color: rgb(255, 255, 255);
        width: 380px;
        height: 380px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .container .cards .card img{
        width: 98px;
        height: auto;
        margin-top: 70px;
    }
    .main .container .cards .card .textCard{
        text-align: center;
        padding-top: 44px;
        margin: 0 20px;
        color: #4A4A4A;
    }
    .main .container .text-container{
        color: #ffff;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .main .container .text-container h1{
        font-size: 38px;
     }
     .main .container .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        padding: 0 40px;
    }
    .main .section-vetor .texto-vetor{
        padding-top: 20px;
        margin: 0 70px;
    }
    .main .section-vetor h2{
      color: #363636;
      font-size: 38px;
    }
    .main .section-vetor h3{
        color: #363636;
        padding-top: 22px;
    }
    .main .section-vetor p{
        color: #797979;
        padding: 22px 0;
    }
    .main .section-vetor{
        display: flex;
        flex-direction: row;
        margin: 0 200px;
    }
    .main footer .text-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 480px;
        align-items: center;
      }

    .carroiconvetor{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 200px;
      
    }
    .carroiconvetor img{
        width: 500px;
    }
    
}
