.cadastro{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    background-color: #f3f3f3;
}

.cadastro .menuBackground{
    background: #2570CB;
    width: 100%;
    height: 100vh;
}
.cadastro .menuBackground header{
    padding: 30px 20px;
    color: #ffff;
}

.cadastro .menuBackground header nav ul {
   display: flex;
   align-items: center;
}
.cadastro .menuBackground header nav ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
 }
 .cadastro .menuBackground header nav ul li #icon {
    margin: 0 5px;
 }
 .cadastro .menuBackground header nav ul li a {
    color: #fff;
 }
.menuBackground h1{
    color: #ffff;
    font-size: 28px;
    padding: 175px 40px;
}
.cadastro .cadastroForm{
    margin: 0 140px;
    flex: 2.4;
}
.cadastro .cadastroForm aside{
    width: 320px;
    background:#fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
    margin-top: 62px;
}
.cadastro .cadastroForm aside form{
    margin-top: 30px;
}
.cadastro .cadastroForm aside form .input-block + .input-block{
    margin-top: 20px;
}
aside form .input-block label{
    color: #ACACAC;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
aside form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
}

.cadastro .cadastroForm aside form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #2570CB;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.cadastro .cadastroForm aside form button[type=submit]:hover{
    background: rgb(29, 88, 160);
}

aside strong{
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

aside form{
    margin-top: 30px;
}
@media (max-width: 330px) {
    .cadastro{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        overflow-y: hidden;
    }
    
    .cadastro .menuBackground{
        background: #2570CB;
        width: 100%;
        height: 50vh;
    }
    .cadastro .menuBackground header{
        padding: 30px 20px;
        color: #ffff;
    }
    
    .menuBackground h1{
        color: #ffff;
        font-size: 28px;
        padding: 20px 50px;
        text-align: center;
    }
    .cadastro .cadastroForm{
        margin: 45px 0;
        flex: 0;
        
    }
    .cadastro .cadastroForm aside{
        max-width: 250px;
        background:#fff;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        padding: 30px 20px;
        margin-top: 30px;
    }
    .cadastro .menuBackground header{
        padding: 30px 0;
        color: #ffff;
    }
    
    .cadastro .menuBackground header nav ul {
       display: flex;
       align-items: center;
    }
    .cadastro .menuBackground header nav ul li {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 11px;
        margin: 0 20px;
     }
     .cadastro .menuBackground header nav ul li #icon {
        margin: 0 5px;
     }
     .cadastro .menuBackground header nav ul li a {
        color: #fff;
     }

  
}
@media (min-width:330px) and (max-width: 768.98px) {
    .cadastro{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        overflow-y: hidden;
    }
    
    .cadastro .menuBackground{
        background: #2570CB;
        width: 100%;
        height: 40vh;
    }
    .cadastro .menuBackground header{
        padding: 30px 20px;
        color: #ffff;
    }
    
    .menuBackground h1{
        color: #ffff;
        font-size: 28px;
        padding: 50px 50px;
        text-align: center;
    }
    .cadastro .cadastroForm{
        margin: 35px 0;
        flex: 0;
        
    }
    .cadastro .cadastroForm aside{
        width: 320px;
        background:#fff;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        padding: 30px 20px;
        margin-top: 30px;
    }
}
@media (min-width: 330px) and (max-width:768px) and (orientation: landscape) {
    .cadastro{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        overflow-y: hidden;
    }
    
    .cadastro .menuBackground{
        background: #2570CB;
        width: 100%;
        height: 90vh;
    }
    .cadastro .menuBackground header{
        padding: 30px 20px;
        color: #ffff;
    }
    
    .menuBackground h1{
        color: #ffff;
        font-size: 28px;
        padding: 50px 50px;
        text-align: center;
    }
    .cadastro .cadastroForm{
        margin: 35px 0;
        flex: 0;
        
    }
    .cadastro .cadastroForm aside{
        width: 320px;
        background:#fff;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        padding: 30px 20px;
        margin-top: 30px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
      .cadastro{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        overflow-y: hidden;
    }
    
    .cadastro .menuBackground{
        background: #2570CB;
        width: 100%;
        height: 90vh;
    }
    .cadastro .menuBackground header{
        padding: 30px 20px;
        color: #ffff;
    }
    
    .menuBackground h1{
        color: #ffff;
        font-size: 28px;
        padding: 50px 50px;
        text-align: center;
    }
    .cadastro .cadastroForm{
        margin: 35px 0;
        flex: 0;
        
    }
    .cadastro .cadastroForm aside{
        width: 320px;
        background:#fff;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        padding: 30px 20px;
        margin-top: 30px;
    }
}
}
@media (min-width:1800px){
    .cadastro .menuBackground{
        background: #2570CB;
        width: 100%;
        height: 100vh;
    
    }
    .menuBackground h1{
        color: #ffff;
        padding: 350px 40px;
        font-size: 40px;
    }
    .cadastro .menuBackground header nav ul li {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 22px;
        margin: 0 20px;
     }
}